.tdwtf-plugin-wrapper{
  border: 3px solid black;
  width: 100%;
  font-family: Verdana, Arial, sans-serif;

  .tdwtf-plugin-header{
    padding: 10px;
    border-bottom: 3px solid black;
    margin-bottom: 0;

    .tdwtf-plugin-title{
      box-shadow: none;
      text-decoration: none;
      color: black;

      &:hover{
        color: #007acc;
      }
    }

    .tdwtf-plugin-comment-link{
      float: right;
      box-shadow: none;
      text-decoration: none;
      color: black;

      &:hover{
        color: #007acc;
      }
    }
  }

  .tdwtf-plugin-summary-wrapper{
    padding: 10px;
    overflow: hidden;
    display: block;

    .tdwtf-plugin-summary{
      overflow: hidden;
      max-height: 200px;
    }

    .tdwtf-plugin-summary-footer{
      text-align: center;

      #tdwtf-plugin-previous-article{
        float: left;
        cursor: pointer;
        box-shadow: none;
      }

      .tdwtf-plugin-article-link{

      }

      #tdwtf-plugin-next-article{
        float: right;
        cursor: pointer;
        box-shadow: none;
      }
    }
  }

  .tdwtf-plugin-footer{
    padding: 10px;
    border-top: 3px solid black;

    .tdwtf-plugin-article-date{
      float: right;
    }
  }
}